{% extends "../base.html" %}

{% block title %}Field Notes List{% endblock title %}

{% block header %}
    {% if user.is_authenticated %}
        <a href="{% url "home" %}">Home</a>
        <a href="{% url "fieldnotes_create_view" %}">Create FieldNote</a>
        <form  style="display:inline;" action="{% url "logout" %}" method="post"> {% csrf_token %} {{ form.as_p }} <button type="submit">Log out</button></form>
    {% else %}
        <a href="{% url "signup" %}">Sign up</a>    
        <a href="{% url "login" %}">Log in</a>
        <a href="{% url "fieldnotes_list_view" %}">FieldNotes</a>
    {% endif %}
{% endblock header %}

{% block content %}
    {% for field_note in fieldnote_list %}

        <a href="{% url "fieldnotes_detail_view" field_note.author.username field_note.slug %}">
            <div class="field-note-class">
                <h3>{{ field_note.title }}</h3>
            </div>
        </a>
        
    {% endfor %}
{% endblock content %}