{% extends "../base.html" %}
{% load static %}

{% block title %}{{ character.player_character_name }}{% endblock title %}

{% block extra_css_files %}
    <link rel="stylesheet" href="{% static "character/character_detail_view.css" %}">
{% endblock extra_css_files %}


{% block content %}

    <section class="character-detail-section">
        <div>
            <p class="character-detail-p one">Player Name: {{character.first_name}} {{ character.last_name }}</p>
            <p class="character-detail-p two">Player Character: {{ character.player_character_name }}</p>
        </div>

        <div>
            <p>Items {{ character.player_character_name }} has...</p>
            <ul>
                {% for item in character.items.all %}
                    <li><a href="#">{{ item.item_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock content %}