{% extends "base.html" %}

{% block title %}Claim Board{% endblock title %}

{% block content %}

    <h1>Tasks List</h1>

    {% if user.is_authenticated %}
        <a href="{% url "task_create_view" %}">Create Task</a>
    {% endif %}

    <ul>
        {% for task in drafted_tasks %}
            {% if task.author == request.user %}
                <li><a href="{% url "task_detail_view" task.author.username task.slug %}">{{ task.title }}</a> | Status: {{ task.status }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}