<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block css_files %}
        <link rel="stylesheet" href="#">
    {% endblock css_files %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}title{% endblock title %}</title>
</head>
<body>
    {% block header %}
        {% if user.is_authenticated %}
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "fieldnotes_list_view" %}">FieldNotes</a>
            <form style="display:inline;" action="{% url "logout" %}" method="post"> {% csrf_token %} <button type="submit">Log out</button></form>
        {% else %}
            <a href="{% url "signup" %}">Sign up</a>    
            <a href="{% url "login" %}">Log in</a>
            <a href="{% url "fieldnotes_list_view" %}">FieldNotes</a>
        {% endif %}
        
    {% endblock header %}

    {% block content %}{% endblock content %}
</body>
</html>