{% extends "../base.html" %}
{% load static %}

{% block extra_css_files %}
    <link rel="stylesheet" href="{% static "character/character_list.css" %}">
{% endblock extra_css_files %}

{% block title %}Item List{% endblock title %}

{% block header %}
    <a href="{% url "home" %}">Home</a>
    <a href="{% url "item_create_view" %}">Create Item</a>
{% endblock header %}

{% block content %}
    <div class="character-list">
        <h2 id="title-lg">Items</h2>
        <ul>
            {% for item in item_list %}
                <li><a href="{% url "item_detail_view" item.pk %}">{{ item.item_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}