{% extends "base.html" %}
{% load static %}

{% block title %}<title>Beast List</title>{% endblock title %}

{% block content %}

    <hr>
    <a href="{% url "beast_list_view"%}?order=asc">Sort Threat ↑</a>
    <a href="{% url "beast_list_view"%}?order=desc">Sort Threat ↓</a>
    <hr>

    {% for beast in beast_list %}
    <div>
        <h2><a href="{% url "beast_detail_view" beast.pk %}">{{ beast.name }}</a></h2>
        <ul>
            <li><strong>Location: </strong>{{ beast.found }}</li>
            <li><strong>Attack Power: </strong>{{ beast.attack_power }}</li>
            <li><strong>Attack Speed: </strong>{{ beast.attack_speed }}</li>
            <li><strong>Defense: </strong>{{ beast.defense }}</li>
            <li><strong>Threat Level: </strong>{{ beast.threat_level }}</li>
            <li><strong>Legendary: </strong>{{ beast.is_legendary }}</li>
            <li><strong>Notable Attacks: </strong>{{ beast.notable_attack }}</li>
            <li><strong>Quirks: </strong>{{ beast.quirky_behavior }}</li>
        </ul>
    </div>
    {% endfor %}

{% endblock content %}