<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static "base.css" %}">

    {% block extra_css_files %}{% endblock extra_css_files %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}
        {% if user.is_authenticated %}
            <header>
                <a href="{% url "home" %}">Home</a>  
                <a href="{% url "character_list_view" %}">Characters</a>
                <a href="{% url "item_list_view" %}">Items</a>
                <a href="{% url "transferlog_list_view" %}">Transfer Log</a>
                <form action="{% url "logout" %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </header>
        {% else %}
            <header>
                <a href="{% url "home" %}">Home</a>  
                <a href="{% url "login" %}">Login</a>
                <a href="{% url "character_list_view" %}">Characters</a>
                <a href="{% url "item_list_view" %}">Items</a>
                <a href="{% url "transferlog_list_view" %}">Transfer Log</a>
            </header>
        {% endif %}
    {% endblock header %}
    
    {% block content %}{% endblock content %}
</body>
</html>