<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static "base.css" %}">

    {% block extra_css_files %}{% endblock extra_css_files %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}
        <header>
            <a href="{% url "character_list_view" %}">Home</a>
        </header>
    {% endblock header %}
    
    {% block content %}{% endblock content %}
</body>
</html>